body {
    background-color: white;
    font-size: 15px !important;
}
.shipping-box-options{
    border: 1px solid #e8e8e8;
    padding: 12px 30px;
    margin: 10px 0;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9{
    float: unset;
}
.option-shipping-label{
    font-family: 'Roboto';
    font-weight: bold;
    /*margin: 10px 0;*/
}
#iframe-shipping{
    border: 1px solid #e8e8e8;
}
.shipping-title{
    font-family: 'Roboto';
    font-weight: 700;
}
.shipping-title-mus{
    font-family: 'Roboto';
    font-weight: 700;
    white-space: nowrap;
    margin: 11px 15px;

}
.city-shipping-option{
    width: 250px;
}
.city-shipping-option .select2-container--default .select2-selection--single{
    margin-top: 6px !important;
}
.city-shipping-option .select2-container--default .select2-selection--single .select2-selection__arrow{
    top: 11px !important;
}
.header {
    display: inline-flex;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin: auto;
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
}
.error-message{
    border: 1px solid red;
    padding: 10px;
    color: red;
}
.success-message{
    border: 1px solid #39d31c;
    padding: 10px;
    color: #39d31c;
}
.scala_pay_phone{
    padding-left: 20px;
    display: inline;
}
.scala_pay_phone input{

}
.content {
    margin-right: 0 !important;
    display: flex;
    min-height: 100vh;
    padding-top: 60px;
}
.payment-option-item{
    /*display: inline-flex;*/
    border: 1px solid #eaeaea;
    padding: 10px 15px;
    background: #fcfcfc;
    width: 100%;
}
.payment-option-item-info{
    margin-top: 20px;
}
.payment-option-item-info img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.payment-option-item-info-text{
    display: none;
    padding: 5px;
    position: absolute;
    left: 35px;
    top: 20px;
    width: 300px;
    font-size: 14px;
    font-family: 'Roboto';
    box-shadow: 3px 3px 3px 3px #f9f9f9ea;
}
.payment-input{
    font-family: 'Roboto';
    min-width: 50%;
    padding-top: 5px;
}
.payment-input img{
    width: 90px;
    margin: 0 10px;
}
.back-to-review{
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 30px;
}
.payment-btns{
    display: inline-flex;
}
.paypal-label{
    position: absolute;
}
.paypal-btn{
    margin: 16px 20px 0 0;
}
.paypal-cont{
    width: 300px;
}
.pay-btn{
    font-family: 'Roboto';
    background-color: #ffc600;
    color: black;
    border: 2px solid #ffc600;
    border-radius: 2px;
    padding: 10px 75px;
    font-weight: 600;
    margin: 50px 15px;
    cursor: pointer;
}
.error-payment-choose{
    width: 100%;
    color: #ffc600;
    padding: 15px;
    display: none;

}
.payment-icons{
    position: absolute;
    right: 30px;
    top: 17px;
}
.alert-scalapay{
    color: red;
    padding: 10px;
}
.payment-icons img{
    width: 34px;
    float: right;
    margin-left: 8px;
    padding-top: 4px;
}
.packs-items {
    padding: 0 20px;
}
.resend-sms{
    font-family: 'Roboto';
    background-color: #ffc600;
    color: black;
    border: 2px solid #ffc600;
    border-radius: 2px;
    padding: 10px 75px;
    font-weight: 600;
    margin: 0 15px 0 0;
    cursor: pointer;
    width: 24%;
    text-align: center;
    /*display: inline-flex;*/
}
.copy-link{

    font-family: 'Roboto';
    background-color: #ffc600;
    color: black;
    border: 2px solid #ffc600;
    border-radius: 2px;
    padding: 10px 75px;
    font-weight: 600;
    margin: 0 15px 0 0;
    cursor: pointer;
    width: 20%;
    text-align: center;
}
.thankyou-btns{
    display: inline-flex;
    width: 100%;
}
.noclick {
    pointer-events: none;
}
.resend-sms a{
    text-decoration: underline !important;
    cursor: pointer;
}
.pdo-number {
    font-size: 30px;
    text-align: left;
    width: 100%;
}

.page-title-description > pre > span {
    font-family: 'Roboto';
    font-weight: 400;
}

.product-header {
    font-family: 'Roboto';
    font-weight: 500;
    margin-left: 5%;
}

.mb-40 {
    margin-bottom: 40px;
}
.payment_amount_text {
    font-family: 'Roboto';
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 18px;
}
.page-title-description > p {
    text-align: left;
    font-family: 'Roboto';
    font-weight: 400;
}

.header-icon {
    text-align: center;
}

.header-a-logo {
    height: 50px;
    margin: 10px 0;
}

.p-13 {
    padding: 13px;
}

.body-image-container {
    padding: 35px;
}

.options-cartner {
    line-height: 0 !important;
}

.body-image {
    background-repeat: no-repeat;
    background-size: cover;
}

.body-image > img {
    margin: -3px;
}

.header-icon > a {
    font-weight: 500;
    color: black;
    letter-spacing: 3px;
    font-family: 'Roboto';
    font-size: 18px;
    text-transform: uppercase;
}

.header-icon > a:hover {
    color: black;
    text-decoration: none;
}

.header-content {
    display: inline-flex;
    width: 100%;
}

.w-50px {
    width: 50px;
}

.height-98 {
    height: 98%;
}

.welcome-image {

}

.inline-flex {
    display: inline-flex;
}

.padding-23 {
    padding: 23px;
}

.icon-cron {
    display: none;
}

.register-text {
    width: 100%;
    font-size: 20px;
    display: inline-flex;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header-right {
    display: none;
}
.text-choose-country{
    font-family: 'Roboto';
    font-weight: 400;
    margin-right: 19px;
    font-size: 16px;
    padding-top: 6px;
}
.country-select-input{
    display: inline-flex;
    width: 100%;
    margin-top: 12px;
}
.country-dropdown{

}
.country-dropdown select{
    font-family: 'Roboto';
    font-weight: 400;
    margin-right: 19px;
    font-size: 16px;
    padding: 8px 14px;
}
.register-text1 {
    width: 100%;
    font-family: Roboto;
    font-weight: 300;
    margin-bottom: 20px;
}

.register-text1 > span {
    font-family: Roboto;
    font-weight: 500;
    padding-right: 5px;
    font-size: 17px !important;
}
.coupon-block{

    display: inline-block;
    width: 100%;
    text-align: right;
    /*margin: 0 0 50px 0;*/
}
.coupon-inputs{
    display: inline-flex;
}
.coupon-code{
    padding: 0 20px;
}
.coupon-code input{
    border: 1px solid #c2bfbfea;
    width: 250px;
    height: 40px;
    padding: 10px;
    font-family: 'Roboto';
}
.coupon-submit{

}
.coupon-title{
    font-family: 'Roboto';
    display: inline-flex;
    float: right;
    width: 390px;
    margin: 10px 0;
    font-size: 18px;
}

.coupon-title div{
    font-family: 'Roboto';

}
.coupon-alert{
    font-family: 'Roboto';
    display: inline-flex;
    float: right;
    width: 390px;
    margin: 5px 0;
    font-size: 18px;
    color: red;
}
.coupon-submit button{
    border: 0;
    height: 40px;
    text-align: center;
    font-size: 14px;
    padding: 0 26px;
    font-family: 'Roboto';
    background: black;
    font-size: 16px;
    color: #ffc600;
    font-weight: 600;
    text-transform: capitalize;
}
.roboto-regular {
    font-family: Roboto;
    font-weight: 300;
}

.roboto-medium {
    font-family: Roboto;
    font-weight: 500;
}

.roboto-bold {
    font-family: Roboto;
    font-weight: 700;
}

.register-text > p > strong {
    font-family: Roboto;
    font-weight: 700;
}

.personal-info-text {
    margin-right: auto;
}

.arrow-div {
    width: 100%;
}

.body-container {
    display: inline-flex;
}
.share-distributor {
    cursor: pointer;
    display: none;
}

.share-distributor img {
    width: 30px;
    height: 30px;
}
.share-period{
    font-size: 12px;
    font-style: italic;
    padding: 14px 10px;
}
.share-payment {
    cursor: pointer;
    padding: 54px 8px 0 15px;
    display: inline-flex;
}

.share-payment img {
    width: 30px;
    height: 30px;
}

.share-distributor-btns {
    display: inline-flex;
    position: absolute;
    top: 50px;

    right: 66px;
}
.share-payment-btns {
    display: inline-flex;
}

.share-distributor-btn {
    margin: 7px;
    cursor: pointer;
}

.share-distributor-btn img {
    width: 30px;
    height: 30px;
}

.welcome-body {
    background-color: white;
}

.p-100 {
    padding: 100px !important;
}

.font-18 {
    font-size: 18px;
}

.font-17 {
    font-size: 17px;
}

.font-16 {
    font-size: 16px;
}

.font-15 {
    font-size: 15px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.select2 {
    width: 100% !important;
    outline: 0 !important;
}

.select2-container {
    width: 100% !important;
    outline: 0 !important;
}

.select2-container-default {
    width: 100% !important;
    outline: 0 !important;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 40px !important;
    margin: auto !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: black !important;
    line-height: 36px !important;
    font-weight: 300;
    font-family: 'Roboto';
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    visibility: unset !important;
    right: 1px;
    width: 20px;
}

.city-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: black;
    font-size: 19px;
}

.city-select .select2-container .select2-selection--single .select2-selection__rendered {
    color: black !important;
    font-size: 19px !important;
}

.select2-selection__arrow {
    visibility: unset;
}

.select2-selection__arrow b {
    display: block !important;
    color: black;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .py-4 {
    padding-top: 102px;
}

.input-text {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 3px 2px 3px 2px;
    font-family: 'Roboto';
    font-weight: 300;
    outline: none;
    margin: 13px 0;
    font-size: 16px;
}

.dist-input-text {
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 3px 2px 3px 2px;
    font-family: 'Roboto';
    font-weight: 300;
    outline: none;
    margin: 13px 0;
    font-size: 16px;
}

#help-address {
    margin-left: 20px;
}

.shipping-input-text {
    color: black;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    /*background-color: #f9f9f9;*/
    letter-spacing: 1px;
    padding: 3px 2px 3px 2px;
    font-family: 'Roboto';
    outline: none;
    margin: 5px 0;
    font-size: 15px;
}

.shipping-input-text:disabled {
    background-color: #f9f9f9;
}

.remember-me-label {
    display: inline-flex;
    margin: auto;
    font-family: 'Roboto';
}

.remember-me-label > input[type=checkbox] {

}

.form-submit {
    display: inline-flex;
    width: 100%;
    margin-top: 30px;
}

.submit-container {
    margin-right: auto;
}

.remember-container {
    margin: auto 0;
}

.btn-submit {
    font-family: 'Roboto';
    background-color: white;
    color: black;
    border: 2px solid #000000;
    border-radius: 2px;
    padding: 10px 45px;
    font-weight: 500;
}

.btn-submit-list {
    font-family: 'Roboto';
    background-color: white;
    color: black;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 10px;
    padding: 10px 45px;
    font-weight: 500;
}

.btn-payment-submit {
    font-family: 'Roboto';
    background-color: white;
    color: black;
    border: 2px solid #000000;
    border-radius: 2px;
    padding: 10px 45px;
    font-weight: 500;
}

.btn-submit-green {
    font-family: 'Roboto';
    background-color: white;
    color: #72a850;
    border: 2px solid #72a850;
    border-radius: 2px;
    padding: 10px 30px;
    font-weight: 600;
}

.btn-submit-green-list {
    font-family: 'Roboto';
    background-color: white;
    color: #72a850;
    border: 2px solid #72a850;
    border-radius: 2px;
    padding: 10px 50px;
    font-weight: 600;
}
.button-bu-later-72{
    font-family: 'Roboto';
    font-weight: 600;
    background: transparent;
    border: 0;
    font-size: 13px;
    margin-top: 14px;
}
.text-address{
    font-family: 'Roboto';
    font-size: 14px;
    text-align: left;
    margin: 12px 50px 0 0;
}
.btn-submit-yellow {
    font-family: 'Roboto';
    background-color: #ffc600;
    color: black;
    border: 2px solid #ffc600;
    border-radius: 2px;
    padding: 10px 75px;
    font-weight: 600;
}

.btn-submit-yellow-address {
    font-family: 'Roboto';
    background-color: #ffc600;
    color: black;
    border: 2px solid #ffc600;
    border-radius: 2px;
    padding: 10px 75px;
    font-weight: 600;
}

.input-border-yellow {
    background: #ffc600;
    border: 1px solid #ffc600;
}

.btn-submit:focus {
    outline: 0;
}

.contact-support {
    width: 100%;
    margin-top: 50px;
    text-align: right;
}

.contact-info {
    text-align: center;
    padding-left: 90%;
}

.support-img {
    cursor: pointer;
    padding: 0;
}

.contact-support > a > img {
    width: 100px;
    text-align: right;
}

.input-select {
    padding: 10px;
}

.side-menu-cat {
    width: 100%;
    text-align: left;
    border-bottom: 0.8px solid #e6e6e6;
    border-left: 0.8px solid #e6e6e6;
    border-right: 0.8px solid #e6e6e6;
}

.input-option {

}

.contact-support label {
    width: 100%;
}

.header-label {
    text-align: center;
    width: 50px;
    padding: 11px;
    height: 60px;
}

.header-label-lang {
    text-align: center;
    padding: 11px;
}

.header-lang {
    text-transform: uppercase;
    margin-right: 10px;
    font-family: 'Roboto';
    font-weight: 300;
    cursor: pointer;
}

.header-lang.selected > a {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 700;
    cursor: pointer;
}

.header-lang > a {
    color: black !important;
    text-decoration: none !important;
}

.header-label p {
    margin-bottom: 0 !important;
}

.footer {
    border-top: 1px solid #e6e6e6;
    bottom: 0;
    padding: 30px 10%;
    background-color: transparent;
    width: 100%;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.footer-list {
    list-style: none;
    padding-inline-start: 0;
}

.social-media > span > a {
    color: black !important;
    text-decoration: none !important;
}

/*.footer-list >li{*/
/*    list-style: none;*/
/*    text-decoration: none;*/
/*}*/

.social-media {
    padding-top: 20px;
}

.btn-product-search:focus {
    border: 0 !important;
    outline: 0 !important;
}

.item-options > a > button:focus {
    text-decoration: none !important;
    color: black !important;
    border: 0 !important;
}

.footer-list > li > a {
    color: black;
    text-decoration: none;
    line-height: 2;
    margin-bottom: 1em;
}

.cursor:hover {
    cursor: pointer;
}
.circle-arrow-product-list{
    margin: auto 5% !important;
    padding-right: 15px;
}
.help-block {
    color: green;
    font-family: 'Roboto';
    font-size: 14px;
}

.help-block-red {
    color: red;
    font-size: 10px;
    margin: auto 15px auto auto !important;
    font-family: 'Roboto';
}

.circle-arrow {
    margin: auto 0;
    width: 100%;
}

.circle-arrow-left {
    margin-right: 10px;
}

.glyphicon {
    font-size: 19px;
}

.glyphicon-circle-arrow-left {
    font-size: 25px;
}

.glyphicon-circle-arrow-right {
    font-size: 25px;
}

.mright-20 {
    margin-right: 20px;
}

.pright-20 {
    padding-right: 35px;
}

.gender {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}

.forever-packs {
    background-color: #333333;
    color: white;
}

.forever-packs > div {
    text-align: center;
    font-family: 'Roboto';
    font-size: 32px;
}

.packs-container {
    /*background-color: rgba(242, 242, 242, 1);*/
    min-height: 100vh;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    margin: 0 5%;
}

.btn-products {
    width: 100%;
    border: 1px solid rgba(210, 210, 210, 1);
    border-radius: 0 !important;
    text-transform: uppercase;
    color: black;
    text-align: left !important;
    padding: 10px 20px !important;
    font-size: 15px !important;
    font-family: 'Roboto';
    font-weight: 500 !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
}

.btn-collapse-custom {

}

.btn-collapse-custom.active {
    background-color: #ffc800;
}


.packs-text {
    margin-bottom: 4px;
    background-color: #ffc800;
    padding: 12px;
    text-transform: uppercase;
    color: black;
}

.info-text li {
    list-style: none;
}

.info-text > li::before {
    content: "\2022";
    color: #ffc800;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    /*margin-left: -1em;*/
    font-size: 25px;
}

.products-text {
    background-color: white;
    padding: 10px 20px !important;
    border: 1px solid rgba(210, 210, 210, 1);
    text-transform: uppercase;
}

.p-20 {
    padding: 20px;
}

.search-input {
    background-color: white;
    margin-bottom: 8px;
    width: 100%;
    border: 1px solid rgba(210, 210, 210, 1);
}

/*.search-input >label{*/
/*    margin-bottom: 0!important;*/
/*    width: 100%;*/
/*}*/
.input-search-references {
    border: 0;
    width: 100%;
    padding: 12px;
    font-size: 16px;
}

.btn-search {
    background: transparent;
    border: 0;
    margin: auto 17px;
}

input.input-search-references:focus {
    outline: 0;
}

.info-text {
    padding: 30px;
    font-size: 16px;
    background-color: rgba(242, 242, 242, 1);
}

.items-container {
    background-color: white;
    width: 100%;
    padding: 20px;
}

.item-div {
    margin: 10px;
}

.item-img {
    width: 70%;
    padding: 0;
    min-height: 170px;
}

.item-count-font {
    /*font-family: 'Roboto' !important;*/
    /*font-weight: 600 !important;*/
}

.img-container {
    cursor: pointer;
    text-align: center;
}

.item-info {

}

.city-select .select2-container--default .select2-dropdown .select2-results > .select2-results__options {
    max-height: 300px;
    overflow-y: auto;
}

.item-name {
    font-size: 16px;
    text-align: center;
    min-height: 55px;
}

.product-error {
    display: none;
    padding-right: 5rem;
    font-family: 'Roboto';
    font-weight: 400;
    padding-top: 1rem;
}

.fa-shopping-bag:before {
    content: "\f290";
    margin: 5px;
}

.item-name-modal {
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 600;
}

.item-currency {
    font-size: 18px;
    padding: 10px 0;
    text-align: center;
}

.item-currency-modal {
    font-size: 14px;
    color: #888888;
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-weight: 400;
}

.product-header > a {
    text-transform: uppercase !important;
    color: black !important;
    text-decoration: none !important;
}

.item-currency-modal-price {
    font-size: 18px;
    margin: 20px 0;
    font-family: 'Roboto';
    font-weight: 500;
}

.item-details {
    padding: 10px;
    font-size: 14px;
}

.item-details-modal {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto';
}

.item-details > ul {
    padding-left: 15px;
}

.item-details-modal > ul {
    padding-left: 15px;
    font-weight: 300;
    font-family: 'Roboto';
}

.item-options {
    display: inline-flex;
    width: 100%;
}

.product-image-detail {
    /*padding: 0 15%;*/
    width: 100%;
}

.share-product {
    text-align: right;
    cursor: pointer;
}

.share-product > a {
    color: black !important;
    text-decoration: none !important;
}

.product-details {
    margin-top: 30px;
}

.image-padding-15 {
    padding: 0 8% 0 30%;
}

.btn-shop {
    width: 50%;
    background-color: transparent;
    border: 1px solid black;
    padding: 5px 0;
    margin: 3px 2px;
}

.btn-shop > i {
    font-weight: 500;
    font-family: 'Roboto';
}

.back-arrow-container {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

/*.btn-products:after {*/
/*    display: block;*/
/*    font: normal normal normal 14px/1 FontAwesome;*/
/*    font-size: inherit;*/
/*    text-rendering: auto;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    content: "\f068";*/
/*    float: right;*/
/*    margin: 0 10px;*/
/*}*/

/*.btn-products.collapsed:after {*/
/*    display: block;*/
/*    font: normal normal normal 14px/1 FontAwesome;*/
/*    font-size: inherit;*/
/*    text-rendering: auto;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    content: "\f067";*/
/*    float: right;*/
/*    margin: 0 10px;*/
/*}*/

.modal-img {
    width: 100%;
    display: inline-block;
    margin-top: 40px;
}

.btn-cart {
    background-color: rgba(28, 32, 34, 1);
    border: 0;
    border-radius: 7px;
    padding: 10px 23%;
    color: white;
    font-weight: 400;
}

.btn-add-to-cart {
    background-color: rgba(28, 32, 34, 1);
    border: 0;
    border-radius: 7px;
    padding: 10px 40px;
    margin: auto 5px;
    color: white;
    font-weight: 400;
}

.cart-text-header {
    text-align: left;
    font-family: 'Roboto';
    font-weight: 500;
}

.btn-add-to-cart:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
}

.modal-detail-tabs {
    padding: 4px 45px;
}

.content-modal {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: white;
    outline: 0;
    height: 100%;
    padding: 50px 30px;
}

.nif-content-modal {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: white;
    outline: 0;
    height: 100%;
    /*padding: 50px 30px;*/
}

.product-body {
    margin-top: 20px;
}

.outline-0:focus {
    outline: 0;
}

.modal-dialog-container {

}

.item-modal > .modal-dialog {
    max-width: 100% !important;
}

.p-30 {
    padding: 30px;
}

.cart-container {
    min-height: 100vh;
    padding: 50px 40px;
    margin: 0 5%;
}

.cart-container > div > h1 {
    margin: 20px 0;
}

/*Borders*/

.border-transparent-right {
    border: 1px solid rgba(215, 215, 215, 1);
}

.border-transparent {
    border-right-color: transparent;
    padding: 12px;
    text-transform: uppercase;
    text-align: center;
    border-left-color: transparent;
}

#continue_shopping {
    text-transform: uppercase;
    color: black;
    font-weight: 600;
    text-decoration: underline;
}

.btn-group-payment {
    margin-right: auto;
    width: 100%;
    padding: 15px 0;
}

.btn-group-payment:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
}

.btn-submit-nif {
    background-color: rgba(28, 32, 34, 1);
    border: 0;
    border-radius: 7px;
    padding: 10px 18%;
    margin: 20px auto auto auto;
    color: white;
    font-weight: 400;
}

.btn-submit-nif:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
}

.nif-code {
    padding: 65px;
}

#proceed-to-payment-modal > .modal-dialog {
    max-width: 40% !important;
}

#nif-number:focus {
    outline: 0;
    box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
}

.address-title {
    font-family: 'Roboto';
    font-size: 18px;
}

.max-width-75 {
    max-width: 75%;
}

.max-width-50 {
    max-width: 50%;
}

.total-text {
    font-family: 'Roboto';
    font-weight: 600;
    margin-right: 10px;
    font-size: 19px;
    color: black;
    text-transform: uppercase;
}

.review-total-text {
    font-family: 'Roboto';
    font-weight: 600;
    margin-right: 10px;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

.address-info {
    background-color: #f9f9f9;
    padding: 35px 50px;
}

.padding-1 {
    padding: 1px 0;
}

.address-title {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
}

.address-button {
    margin-top: 25px;
    text-align: left;
}

.edit-delete > span > a {
    color: black;
    font-weight: 600;
}

.address-container {
    width: 100%;
}

.arrow-left-div {
    text-align: end;
}

.input-round-corners {
    border-radius: 4px;
    border: 1px solid #ebebeb;
    padding: 8px;
    width: 100%;
    font-family: 'Roboto';
}

.input-round-corners-bottom-left {
    border: 1px solid #ebebeb;
    border-bottom-left-radius: 4px;
    padding: 8px;
    width: 100%;
    font-family: 'Roboto';
}

.input-round-corners-bottom-right {
    border: 1px solid #ebebeb;
    border-bottom-right-radius: 4px;
    padding: 8px;
    width: 100%;
    font-family: 'Roboto';
}

.input-round-corners-top-left {
    border: 1px solid #ebebeb;
    border-top-left-radius: 4px;
    padding: 8px;
    font-family: 'Roboto';
}

.input-round-corners-top-left-right {
    border: 1px solid #ebebeb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px;
    width: 100%;
    font-family: 'Roboto';
}

.input-round-corners-top-right {
    border: 1px solid #ebebeb;
    border-top-right-radius: 4px;
    padding: 8px;
    width: 100%;
    font-family: 'Roboto';
}

.payment-container {
    width: 100%;
}

.payment-label-head {
    margin: 10px auto;
    font-family: 'Roboto';
    font-weight: 500;
}

.payment-label-head-2 {
    width: 95% !important;
    margin-left: 10px;
    padding: 0 8px;
}

.payment-label {
    padding: 5px 15px;
    margin: 10px auto;
}

.yellowish {
    background-color: #ffc600;
}

.greenish {
    background-color: #72a850;
}

.mr-30 {
    margin-right: 30px;
}

.business-profile-tabs {
    text-align: center;
    margin: 0 auto;
    display: inline-flex;
    width: 100%;
    padding: 0 10%;
}

.business-profile-tab {
    display: inline-block;
    background: transparent;
    padding: 15px 0;
    width: 25%;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #dedede;
    text-transform: uppercase;
    margin: 0 5px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 500;
}

.business-profile-tab-content > p, .business-profile-tab-content > h1, .business-profile-tab-content > h2, .business-profile-tab-content > h3,
.business-profile-tab-content > h4, .business-profile-tab-content > h5, .business-profile-tab-content > h6,
.business-profile-tab-content > strong, .business-profile-tab-content > b, .business-profile-tab-content > a {
    text-align: left !important;
}

.business-profile-box {
    background: white;
    text-align: center;
}

.business-profile-tab.active {
    background-color: #ffc425;
    color: black;
    border: 0;
}

.business-profile-tab-content {
    display: none;
}

.business-profile-tab-content.active {
    display: block;
    margin: 45px 10%;
    font-family: 'Roboto';
    font-weight: 400;
}

.top-5 {
    margin-top: 5px;
}

.w-20 {
    width: 20%;
}

.w-10 {
    width: 10%;
}

/*remember me label*/
.remember-me-label input[type="checkbox"] {
    display: none;
}

.remember-me-label label::before {
    content: "";
    display: inline-block;

    height: 16px;
    width: 16px;

    border: 1px solid;
}

.remember-me-label label::after {
    height: 16px;
    width: 16px;
    background-color: #ffc800;
}

.remember-me-label label {
    position: relative;
}

.remember-me-label label::before,
.remember-me-label label::after {
    position: absolute;
}

/*Outer-box*/
.remember-me-label label::before {
    top: 4px;
    left: -10px;
}

/*Checkmark*/
.remember-me-label label::after {
    top: 4px;
    left: -10px
}

/*Hide the checkmark by default*/
.remember-me-label input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide the checkmark on the checked state*/
.remember-me-label input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.remember-me-label input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.remember-me-label input[type="checkbox"]:focus + label::before {
    outline: 0;
}

.cart-total {
    font-size: 19px;
    font-weight: 900;
    font-family: 'Roboto';
}

.review-cart-total {
    font-size: 16px;
    font-weight: 900;
    font-family: 'Roboto';
}

.modal-backdrop {
    background-color: #08080863 !important;
}

#shopping-address {
    padding: 6%;
    min-height: 100vh;
}

/*Policy checkbox*/
.payment-label input[type="checkbox"] {
    display: none;
}

.payment-label label::before {
    content: "";
    display: inline-block;

    height: 14px;
    width: 14px;

    border: 1px solid;
}

.payment-label label::after {
    height: 14px;
    width: 14px;
    background-color: #ffc800;
}

.payment-label label {
    position: relative;
}

.payment-label label::before,
.payment-label label::after {
    position: absolute;
}

/*Outer-box*/
.payment-label label::before {
    top: 3px;
    left: -10px;
}

/*Checkmark*/
.payment-label label::after {
    top: 3px;
    left: -10px
}

/*Hide the checkmark by default*/
.payment-label input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide the checkmark on the checked state*/
.payment-label input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.payment-label input[type="checkbox"]:focus + label::before {
    outline: 0;
}

.payment-label input[type="checkbox"]:focus + label::before {
    outline: 0;
}

/*radio button - gender*/
.gender-types {
    padding-left: 12px;
}

.gender-types input[type="radio"] {
    display: none;
}

.gender-types label::before {
    content: "";
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid;
}

.gender-types label::after {
    height: 12px;
    width: 12px;
    background-color: #ffc600;
    border-radius: 50%;
}

.gender-types label {
    position: relative;
}

.gender-types label::before,
.gender-types label::after {
    position: absolute;
}

/*Outer-box*/
.gender-types label::before {
    top: 6px;
    left: -12px;
}

/*Checkmark*/
.gender-types label::after {
    top: 6px;
    left: -12px
}

/*Hide the checkmark by default*/
.gender-types input[type="radio"] + label::after {
    content: none;
}

.add-to-cart-modal {
    width: 50%;
}

/*Unhide the checkmark on the checked state*/
.gender-types input[type="radio"]:checked + label::after {
    content: "";
}

button.products-text.w-100:focus {
    /* border: 1px solid rgba(210, 210, 210, 1); */
    outline: 0;
}

/*Adding focus styles on the outer-box of the fake radio*/
.gender-types input[type="radio"]:focus + label::before {
    outline: 0;
}

.gender-types input[type="radio"]:focus + label::before {
    outline: 0;
}

/*NIF Radio button - gender*/
.nif-label input[type="radio"] {
    display: none;
}

.nif-label label::before {
    content: "";
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 1px solid;
}

.nif-label label::after {
    height: 16px;
    width: 16px;
    background-color: #72a850;
    border-radius: 50%;
}

.nif-label label {
    position: relative;
}

.nif-label label::before,
.nif-label label::after {
    position: absolute;
}

.span-unset > p > span {
    font-size: unset !important;
}

/*Outer-box*/
.nif-label label::before {
    top: 5px;
    left: -11px;
}

/*Checkmark*/
.nif-label label::after {
    top: 4px;
    left: -12px
}

.support-text {
    font-family: 'Roboto';
    font-weight: 500;
    white-space: nowrap;
}

/*Hide the checkmark by default*/
.nif-label input[type="radio"] + label::after {
    content: none;
}

/*Unhide the checkmark on the checked state*/
.nif-label input[type="radio"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake radio*/
.nif-label input[type="radio"]:focus + label::before {
    outline: 0;
}

.nif-label input[type="radio"]:focus + label::before {
    outline: 0;
}

.cart-info {
    padding: 30px 0;
    font-weight: 400;
    font-family: 'Roboto';
}

.cart-item-name {
    text-align: left;
}

.fa-shopping-cart:before {
    content: "\f07a"
}

/*------------------------------------------------------------*/
.unit-price {
    padding: 0 4px;
}

.unit-price-cc {
    padding: 0 4px;
}

.unit-currency {
    padding: 0 4px;
}

.unit-currency-cc {
    padding: 0 4px;
}

.shipping {
    padding-left: 26px;
}

span.total-header-cart {
    color: black;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 700;
    margin: auto auto auto 5px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-bottom: 1px solid #e8e8e8 !important;
    border-radius: 0 !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: transparent !important;
    cursor: default !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 0 !important;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-shop > img {
    width: 10%;
}

.city-select {
    width: 100%;
    line-height: 38px;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    color: black;
    border: 0;
    outline: none;
    border-bottom: 1px solid;
}

.arrow-width {
    width: 40px;
}

.payment-content {
    min-height: 100vh;
    padding: 5%;
}

.payment-form {
    width: 45%;
}

.btn-payment-class {
    padding: 10px;
    width: 20%;
    display: block;
}

/*Start nif submit label*/
/*remember me label*/
.nif-code input[type="checkbox"] {
    display: none;
}

.nif-code label::before {
    content: "";
    display: inline-block;

    height: 16px;
    width: 16px;

    border: 1px solid;
}

.nif-code label::after {
    height: 16px;
    width: 16px;
    background-color: #ffc800;
}

.nif-code label {
    position: relative;
}

.nif-code label::before,
.nif-code label::after {
    position: absolute;
}

/*Outer-box*/
.nif-code label::before {
    top: 4px;
    left: -10px;
}

/*Checkmark*/
.nif-code label::after {
    top: 4px;
    left: -10px
}

/*Hide the checkmark by default*/
.nif-code input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide the checkmark on the checked state*/
.nif-code input[type="checkbox"]:checked + label::after {
    content: "";
}
.alma-banner{
    background: #f7f6f6ea;
    padding: 20px;
    margin-top: 20px;
}

.alma-banner-title{
    font-family: 'Roboto';
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: black;
}
.alma-banner-sub-title{
    font-family: 'Roboto';
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.alma-banner-icon{
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 13px;
}
.alma-banner-icon img{
    width: 100%;
}
.paypal-widget{
    height: 20px;
    margin-top: 13px;
}
.paypal-widget div{
    text-align: left;
}
.paypal-widget-review{
    height: 20px;
    margin-top: 13px;
}
.message__messaging{
    padding: 0;
}
.paypal-widget button{
    margin: auto;
}
.paypal-widget-review button{
    margin: auto;
}
.paypal-widget-review div{
    /*width: 52%;*/
    float: left;
    text-align: left;
}
.alma-banner-price-title{
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto';
}
.alma-banner-price{
    color: #ea5254;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Roboto';
}
/*.input-text::placeholder {*/
/*    color: #e6e6e6;*/
/*    opacity: 1; !* Firefox *!*/
/*}*/
/*Adding focus styles on the outer-box of the fake checkbox*/
.nif-code input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}

.nif-code input[type="checkbox"]:focus + label::before {
    outline: 0;
}

/*end nif submit label*/

.card-name {
    display: inline-flex;
    width: 100%;
}

.card-payment-number {

}

.card-payment-validaty {
    display: inline-flex;
    width: 100%;
    margin-top: 0;
}

/*Image Upload*/
.btn_upload {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #000;
    background-color: #ffc600;
    padding: 5px 10px;
}

.btn_upload:hover,
.btn_upload:focus {
    background-color: #ffc600;
}

.yes {
    display: flex;
    align-items: flex-start;
    margin-top: 10px !important;
}

.btn_upload input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    filter: alpha(opacity=1);
    -moz-opacity: 0;
    opacity: 0;
}

.it {
    height: 200px;
    margin-left: 10px;
}

.btn-rmv1,
.btn-rmv2,
.btn-rmv3,
.btn-rmv4,
.btn-rmv5 {
    display: none;
}

.rmv {
    cursor: pointer !important;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
    display: inline-block;
    /* margin: -5px -10px; */
    width: 100%;
    height: 100%;
}

.submit-step {
    background: none;
    border: 0;
}

.rmv:hover {
    display: block;
    padding-top: 85px;
    background: #e9ece75c;
    color: black;
}

/*End Image Upload*/
.steps {
    padding-right: 3rem;
    padding-bottom: 1rem;
    text-align: right;
}

.ccv-control {
    width: 40% !important;
    margin-left: 0px
}

#sponsor-name {
    font-size: 15px;
    margin: auto 0 5px auto;
    display: block
}

#cus-name {
    font-size: 15px;
    line-height: 1.5em
}
@media (min-width: 760px) {
    .btn-submit-yellow-1{
        padding: 10px 15px;;
    }
}
@media (max-width: 1025px ) and (min-width: 760px) {
    .cart-text-header {
        text-align: left;
        font-family: 'Roboto';
        font-weight: 500;
        margin: 32px 0;
    }
    .btn-submit-list {
        font-family: 'Roboto';
        background-color: white;
        color: black;
        border: 2px solid #000000;
        border-radius: 2px;
        margin-right: 0px;
        padding: 10px 45px;
        font-weight: 500;
        /* width: 100%; */
        text-align: center;
        margin-bottom: 10px;
    }
    .btn-submit-green-list {
        font-family: 'Roboto';
        background-color: white;
        color: #72a850;
        border: 2px solid #72a850;
        border-radius: 2px;
        padding: 10px 50px;
        font-weight: 600;
        text-align: center;
    }
    .circle-arrow {
        margin: auto 0;
        width: 100%;
        display: inline-grid;
        /* padding: 0 18px; */
    }
    .item-currency {
        font-size: 16px;
        padding: 10px 0;
        text-align: center;
    }
    .btn-products {
        width: 100%;
        border: 1px solid rgba(210, 210, 210, 1);
        border-radius: 0 !important;
        text-transform: uppercase;
        color: black;
        text-align: left !important;
        padding: 10px 20px !important;
        font-size: 13px !important;
        font-family: 'Roboto';
        font-weight: 500 !important;
    }
    .add-to-cart-modal {
        width: 100%;
    }
    .cart-container {
        min-height: 100vh;
        padding: 50px 40px;
        margin: 0;
    }
    .btn-submit {
        font-family: 'Roboto';
        background-color: white;
        color: black;
        border: 2px solid #000000;
        border-radius: 2px;
        padding: 10px 45px;
        font-weight: 500;
        width: 50%;
    }
    .btn-submit-yellow {
        font-family: 'Roboto';
        background-color: #ffc600;
        color: black;
        border: 2px solid #ffc600;
        border-radius: 2px;
        padding: 10px 75px;
        font-weight: 600;
        width: 50%;
        margin-top: 10px;
    }
    .w-40{
        width: 40% ;
    }
}
@media (max-width: 1150px){
    .btn-submit-green-list {
        font-family: 'Roboto';
        background-color: white;
        color: #72a850;
        border: 2px solid #72a850;
        border-radius: 2px;
        padding: 10px 10px;
        font-weight: 600;
    }
}
@media (max-width: 1280px){
    .item-name {
        font-size: 15px;
        text-align: center;
        min-height: 55px;
    }
}
@media (max-width: 600px) {
    .thankyou-btns{
        display: inline-block;
        width: 100%;
    }
    .resend-sms{
        width: 100%;
    }
    .copy-link {
        width: 100%;
        margin-top: 20px;
    }
    .text-address {
        font-family: 'Roboto';
        font-size: 14px;
        text-align: center;
        margin: 12px 0px 0 0;
    }
    .coupon-title div {
        font-family: 'Roboto';
        margin: auto;
    }
    .coupon-block {
        display: inline-block;
        width: 100%;
        text-align: center;
        /* margin: 0 0 50px 0; */
    }
    .coupon-submit {
        margin-top: 10px;
    }
    .coupon-inputs {
        display: inline-block;
    }
    .coupon-alert {
        /* font-family: 'Roboto'; */
        /* display: inline-flex; */
        float: right;
        /* width: 390px; */
        margin: 5px 0;
        font-size: 18px;
        color: red;
        width: 100%;
        text-align: center;
    }
    .coupon-title {
        font-family: 'Roboto';
        display: inline-flex;
        float: right;
        width: 100%;
        margin: 10px 0;
        font-size: 18px;
        text-align: center;
    }
    #sponsor-name {
        font-size: 11px;
        display: block;
        margin: 10px 0 5px 0;
    }

    #cus-name {
        font-size: 9px;
        line-height: 1.5em
    }

    .ccv-label {
        height: 50px;
    }

    /*Image Upload*/
    .ccv-control {
        width: 100% !important;
        margin-left: 0;
    }

    .steps {
        text-align: center;
        padding: 5px 0;
    }

    .btn_upload {
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        position: relative;
        color: #000;
        background-color: #ffc600;
        padding: 5px 10px;
    }

    .btn_upload:hover,
    .btn_upload:focus {
        background-color: #ffc600;
    }

    .yes {
        display: flex;
        align-items: flex-start;
        margin-top: 10px !important;
    }

    .btn_upload input {
        cursor: pointer;
        height: 100%;
        position: absolute;
        filter: alpha(opacity=1);
        -moz-opacity: 0;
        opacity: 0;
    }

    .it {
        height: 200px;
        margin-left: 10px;
    }

    .btn-payment-class {
        padding: 10px !important;
        width: 100%;
        display: block !important;
    }

    .btn-rmv1,
    .btn-rmv2,
    .btn-rmv3,
    .btn-rmv4,
    .btn-rmv5 {
        display: none;
    }

    .rmv {
        cursor: pointer !important;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        text-align: center;
        display: inline-block;
        /* margin: -5px -10px; */
        width: 100%;
        height: 100%;
    }

    .submit-step {
        background: none;
        border: 0;
    }

    .rmv:hover {
        display: block;
        padding-top: 85px;
        background: #e9ece75c;
        color: black;
    }

    /*End Image Upload*/
    .card-payment-validaty {
        display: inline-flex;
    }

    .card-payment-number {

    }

    .payment-content {
        min-height: 100vh;
        padding: 65px 15px !important;
    }

    .card-name {
        width: 100%;
    }

    .payment-form {
        width: 100%;
    }

    body {
        background-color: white;
    }

    .pdo-number {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }

    #shopping-address {
        padding: 20% 5%;
        min-height: 100vh;
        font-family: 'Roboto';
        font-size: 14px;
    }

    .header {
        display: inline-flex;
        width: 100%;
        position: fixed;
        z-index: 1;
        margin: auto;
        background-color: white;
        border-bottom: 1px solid #e8e8e8;
    }

    .header-icon {
        text-align: center;
    }

    .header-a-logo {
        height: 18px;
        margin: 10px 0;
    }

    .content {
        margin-right: 0 !important;
        display: flex;
        min-height: 100vh;
        padding-top: 30px;
    }


    .share-product {
        text-align: right;
        cursor: pointer;
    }

    .share-product > a {
        color: black !important;
        text-decoration: none !important;
    }

    .select2 {
        width: 100% !important;
        outline: 0 !important;
    }

    .select2-container {
        width: 100% !important;
        outline: 0 !important;
    }

    .select2-container-default {
        width: 100% !important;
        outline: 0 !important;
    }

    .item-count-font {
        font-family: 'Roboto' !important;
        font-weight: 600 !important;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 4px;
        height: 40px !important;
        margin: auto !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: black;
        line-height: 36px !important;
        font-family: 'Roboto';
        font-weight: 300;
    }


    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 1px;
        right: 1px;
        visibility: unset !important;
        width: 20px;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        display: block;
        padding-left: 0 !important;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .fa-shopping-cart:before {
        content: "\f07a"
    }

    .p-13 {
        padding: 13px;
    }

    .body-image-container {
        padding: 10px;
    }

    .page-title-description > pre > span {
        display: contents;
        font-family: 'Roboto';
        font-weight: 400;
    }

    .page-title-description > p {
        text-align: center;
        font-family: 'Roboto';
        font-weight: 400;
    }

    .options-cartner {
        line-height: 0 !important;
    }

    .body-image {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body-image > img {
        margin: -3px;
    }

    .header-icon > a {
        font-weight: 500;
        color: black;
        letter-spacing: 3px;
        font-family: 'Roboto';
        font-size: 18px;
        text-transform: uppercase;
    }

    .header-icon > a:hover {
        color: black;
        text-decoration: none;
    }

    .packs-items {
        padding: 0 20px;
    }

    .header-content {
        display: inline-flex;
        width: 100%;
    }

    .w-50px {
        width: 50px;
    }

    .height-98 {
        height: 98%;
    }

    .welcome-image {

    }

    div#proceed-to-payment-modal {
        /*margin-top: 40%;*/
        padding-top: 100px;
    }

    .inline-flex {
        display: inline-flex;
    }

    .register-text {
        display: inline-flex;
        font-family: Roboto;
        width: 100%;
        font-weight: 300;
    }

    .register-text > p {
        margin: auto;
    }

    .product-header {
        font-family: 'Roboto';
        margin-left: 5%;
        font-size: 14px;
        font-weight: 500;
    }

    .product-header > a {
        text-transform: uppercase !important;
        color: black !important;
        text-decoration: none !important;
    }

    .roboto-regular {
        font-family: Roboto;
        font-weight: 300;
    }

    .roboto-medium {
        font-family: Roboto;
        font-weight: 500;
    }

    .roboto-bold {
        font-family: Roboto;
        font-weight: 700;
    }

    .personal-info-text {
        margin-right: auto;
    }

    .arrow-div {
        width: 100%;
    }

    .welcome-body {
        background-color: white;
    }

    .p-100 {
        padding: 100px !important;
    }

    .font-18 {
        font-size: 18px;
    }

    .font-17 {
        font-size: 17px;
    }

    .font-16 {
        font-size: 16px;
    }

    .image-padding-15 {
        padding: 0;
    }

    .font-15 {
        font-size: 15px;
    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }


    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border-top: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;
        border-bottom: 1px solid #e8e8e8 !important;
        border-radius: 0 !important;
    }

    .select2-container--default.select2-container--disabled .select2-selection--single {
        background-color: transparent !important;
        cursor: default !important;
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .py-4 {
        padding-top: 102px;
    }

    .input-text {
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        padding: 3px 2px 3px 2px;
        font-family: 'Roboto';
        font-weight: 300;
        outline: none;
        text-align: left;
        margin: 13px 0;
        font-size: 16px;
    }

    /*.input-text::placeholder {*/
    /*     color: #e6e6e6;*/
    /*     opacity: 1; !* Firefox *!*/
    /* }*/
    .dist-input-text {
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        padding: 3px 2px 3px 2px;
        font-family: 'Roboto';
        font-weight: 300;
        outline: none;
        text-align: center;
        margin: 13px 0;
        font-size: 16px;
    }

    #help-address {
        margin-left: 20px;
    }

    .shipping-input-text {
        color: black;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        /*background-color: #f9f9f9;*/
        letter-spacing: 1px;
        padding: 3px 2px 3px 2px;
        font-family: 'Roboto';
        outline: none;
        margin: 5px 0;
        font-size: 14px;
    }

    .shipping-input-text:disabled {
        background-color: #f9f9f9;
    }

    .remember-me-label {
        display: inline-flex;
        margin: auto;
        font-family: 'Roboto';
    }

    .remember-me-label > input[type=checkbox] {

    }


    .submit-container {
        margin: auto;
    }

    .remember-container {
        margin: auto 0;
    }

    .cart-item-name {
        text-align: left;
    }

    .btn-submit {
        font-family: 'Roboto';
        background-color: white;
        color: black;
        border: 2px solid #000000;
        border-radius: 2px;
        padding: 10px 45px;
        font-weight: 500;
    }

    .btn-submit-list {
        font-family: 'Roboto';
        background-color: white;
        color: black;
        margin-bottom: 1rem;
        border: 2px solid #000000;
        border-radius: 2px;
        margin-right: 0;
        padding: 10px;
        font-weight: 500;
    }

    .btn-payment-submit {
        font-family: 'Roboto';
        background-color: white;
        color: black;
        width: 100%;
        border: 2px solid #000000;
        border-radius: 2px;
        padding: 10px 45px;
        font-weight: 500;
    }

    .btn-submit-green {
        font-family: 'Roboto';
        background-color: white;
        color: #72a850;
        border: 2px solid #72a850;
        border-radius: 2px;
        padding: 10px 30px;
        font-weight: 600;

    }

    .btn-submit-green-list {
        font-family: 'Roboto';
        background-color: white;
        color: #72a850;
        border: 2px solid #72a850;
        border-radius: 2px;
        padding: 10px;
        font-weight: 600;
    }

    .btn-submit-yellow {
        font-family: 'Roboto';
        background-color: #ffc600;
        color: black;
        border: 2px solid #ffc600;
        border-radius: 2px;
        padding: 10px 20px;
        font-weight: 600;
        display: inline-flex;
    }

    #btn-cart {
        padding: 10px;
        display: block;
        margin-bottom: 10px;
    }

    .cart-text-header {
        text-align: center;
        display: block !important;
    }


    .btn-submit-yellow-address {
        font-family: 'Roboto';
        background-color: #ffc600;
        color: black;
        border: 2px solid #ffc600;
        border-radius: 2px;
        padding: 10px 75px;
        font-weight: 600;
        width: 100%;
    }

    .input-border-yellow {
        background: #ffc600;
        border: 1px solid #ffc600;
        border-radius: 20%;
    }

    .mobile-cart-quantity {
        margin: auto 6px;
        text-align: center;
        border-radius: 30px;
        font-family: 'Roboto';
        border: 1px solid;
        font-weight: 400;
    }

    .w-30 {
        width: 30%;
    }

    .mobile-cart-favorite {
        width: 100%;
        text-align: center;
    }

    .cart-favorites {
        width: 10%;
    }

    .btn-submit:focus {
        outline: 0;
    }

    .contact-support {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }

    .contact-info {
        text-align: center;
        padding: 0;
    }

    .support-img {
        cursor: pointer;
        width: 30%;
    }

    .support-text {
        font-family: 'Roboto';
        font-weight: 500;
    }

    .contact-support > a > img {
        width: 100px;
        text-align: right;
    }

    .input-select {
        padding: 10px;
    }

    .input-option {

    }

    .contact-support label {
        width: 100%;
    }

    .header-label {
        text-align: center;
        width: 50px;
        padding: 11px;
    }

    .header-label-lang {
        text-align: center;
        padding: 11px;
    }

    .header-lang {
        text-transform: uppercase;
        margin-right: 10px;
        font-family: 'Roboto';
        font-weight: 300;
        cursor: pointer;
    }

    .header-lang.selected > a {
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: 700;
        cursor: pointer;
    }

    .header-lang > a {
        font-size: 14px;
        color: black !important;
        text-decoration: none !important;
    }

    .header-label p {
        margin-bottom: 0 !important;
    }

    .footer {
        bottom: 0;
        border-top: 1px solid #e6e6e6;
        padding: 30px 10%;
        background-color: transparent;
        width: 100%;
    }

    .color-white {
        color: white;
    }

    .footer-list {
        list-style: none;
        padding-inline-start: 0;
        text-align: center;
    }

    .social-media {
        width: 100%;
        text-align: center;
        padding: 25px 0;
    }

    .social-media > span > a {
        color: black !important;
        text-decoration: none !important;
    }

    /*.footer-list >li{*/
    /*    list-style: none;*/
    /*    text-decoration: none;*/
    /*}*/
    .footer-list > li > a {
        color: black;
        text-decoration: none;
        margin-bottom: 1em;
        line-height: 2;
    }

    .cursor:hover {
        cursor: pointer;
    }

    .help-block {
        color: green;
    }

    .circle-arrow {
        margin: auto 0;
        width: 100%;
        text-align: center;
        display: grid;
        padding: 25px;
    }

    .circle-arrow-left {
        margin-right: 10px;
    }

    .glyphicon {
        font-size: 19px;
    }

    .glyphicon-circle-arrow-left {
        font-size: 25px;
    }

    .glyphicon-circle-arrow-right {
        font-size: 25px;
    }

    .mright-20 {
        margin-right: 20px;
    }

    .pright-20 {
        padding-right: 35px;
    }

    .gender {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .forever-packs {
        background-color: #333333;
        color: white;
    }

    .forever-packs > div {
        text-align: center;
        font-family: 'Roboto';
        font-size: 32px;
    }

    .packs-container {
        /*background-color: rgba(242, 242, 242, 1);*/
        min-height: 100vh;
    }

    .content-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 5px 0;
    }

    .btn-products {
        width: 100%;
        border: 1px solid rgba(210, 210, 210, 1);
        border-radius: 0 !important;
        text-transform: uppercase;
        color: black;
        text-align: left !important;
        padding: 10px 20px !important;
        font-size: 15px;
        font-family: 'Roboto';
        font-weight: 700 !important;
    }

    .btn.focus, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
    }

    .btn-collapse-custom {

    }

    .packs-text {
        margin-bottom: 4px;
        background-color: #ffc800;
        padding: 12px;
        text-transform: uppercase;
        color: black;
    }

    .info-text li {
        list-style: none;
    }

    .info-text > li::before {
        content: "\2022";
        color: #ffc800;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        /*margin-left: -1em;*/
        font-size: 25px;
    }

    .products-text {
        background-color: white;
        padding: 10px 20px !important;
        border: 1px solid rgba(210, 210, 210, 1);
        text-transform: uppercase;
    }

    .cart-info {
        padding: 30px 0;
        font-weight: 400;
        font-family: 'Roboto';
    }

    button.products-text.w-100:focus {
        /* border: 1px solid rgba(210, 210, 210, 1); */
        outline: 0;
    }

    #main-content {
        padding-top: 45px;
    }

    .total-text {
        font-family: 'Roboto';
        font-weight: 600;
        margin: auto 0;
        padding: 0;
        text-transform: uppercase;
    }

    .p-20 {
        padding: 20px;
    }

    .search-input {
        background-color: white;
        margin-bottom: 8px;
        width: 100%;
        border: 1px solid rgba(210, 210, 210, 1);
    }

    /*.search-input >label{*/
    /*    margin-bottom: 0!important;*/
    /*    width: 100%;*/
    /*}*/
    .input-search-references {
        border: 0;
        width: 100%;
        padding: 12px;
        font-size: 16px;
    }

    .btn-search {
        background: transparent;
        border: 0;
        margin: auto 17px;
    }

    input.input-search-references:focus {
        outline: 0;
    }

    .info-text {
        padding: 30px;
        font-size: 16px;
        background-color: rgba(242, 242, 242, 1);
    }

    .items-container {
        background-color: white;
        width: 100%;
        padding: 0;
    }

    .item-div {
        margin: 10px;
    }

    .item-img {
        width: 70%;
        padding: 0;
        min-height: 170px;
    }

    .img-container {
        cursor: pointer;
        text-align: center;
    }

    .item-info {

    }

    .item-name {
        font-size: 18px;
        text-align: center;
        min-height: 0;
    }

    .fa-shopping-bag:before {
        content: "\f290";
        margin: 5px;
    }

    .item-name-modal {
        font-size: 22px;
        font-family: 'Roboto';
        font-weight: 600;
        text-align: center;
    }

    .item-currency {
        font-size: 18px;
        padding: 10px 0;
        text-align: center;
    }

    .item-currency-modal {
        font-size: 14px;
        color: #888888;
        margin-bottom: 25px;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 400;
    }

    .item-currency-modal-price {
        font-size: 18px;
        text-align: center;
        text-align: center;
        margin: 20px 0;
        font-family: 'Roboto';
        font-weight: 500;
    }

    .item-details {
        font-size: 14px;
        min-height: 50px;
        padding: 5px 0;
    }

    .item-details-modal {
        font-size: 16px;
        font-weight: 300;
        font-family: 'Roboto';
    }

    .item-details > ul {
        padding-left: 15px;
    }

    .item-details-modal > ul {
        padding-left: 15px;
        font-weight: 300;
        font-family: 'Roboto';
    }

    .item-options {
        display: inline-flex;
        width: 100%;

    }

    .btn-shop {
        width: 100%;
        background-color: transparent;
        border: 1px solid black;
        padding: 5px 0;
        margin: 5px 2px;
    }

    .btn-shop > img {
        width: 25px;
    }

    .btn-shop > i {
        font-weight: 500;
        font-family: 'Roboto';
    }

    .back-arrow-container {
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }

    /*.btn-products:after {*/
    /*    display: block;*/
    /*    font: normal normal normal 14px/1 FontAwesome;*/
    /*    font-size: inherit;*/
    /*    text-rendering: auto;*/
    /*    -webkit-font-smoothing: antialiased;*/
    /*    content: "\f068";*/
    /*    float: right;*/
    /*    margin: 0 10px;*/
    /*}*/
    /*.btn-products.collapsed:after {*/
    /*    display: block;*/
    /*    font: normal normal normal 14px/1 FontAwesome;*/
    /*    font-size: inherit;*/
    /*    text-rendering: auto;*/
    /*    -webkit-font-smoothing: antialiased;*/
    /*    content: "\f067";*/
    /*    float: right;*/
    /*    margin: 0 10px;*/
    /*}*/
    .modal-img {
        width: 100%;
        display: inline-block;
        margin-top: 20px;
    }

    .btn-cart {
        background-color: rgba(28, 32, 34, 1);
        border: 0;
        border-radius: 7px;
        padding: 10px 23%;
        color: white;
        font-weight: 400;
    }

    .btn-add-to-cart {
        background-color: rgba(28, 32, 34, 1);
        border: 0;
        border-radius: 7px;
        padding: 10px 40px;
        margin: auto 5px;
        color: white;
        font-weight: 400;
    }

    .add-to-cart-modal {
        text-align: center;
        width: 100%;
    }

    .btn-add-to-cart:focus {
        outline: 0;
        box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
    }

    .modal-detail-tabs {
        padding: 4px 45px;
    }

    .content-modal {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 15px 20px;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: white;
        outline: 0;
        height: 100%;
        min-height: 140vh;
    }

    .nif-content-modal {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: white;
        outline: 0;
        height: 100%;
        /*padding: 50px 30px;*/
    }

    .outline-0:focus {
        outline: 0;
    }

    .modal-dialog-container {

    }

    .item-modal > .modal-dialog {
        max-width: 100% !important;
    }

    .p-30 {
        padding: 30px;
    }

    .cart-container {
        min-height: 90vh;
        padding: 40px 0;
        font-size: 14px;
    }
    .min-height-sm{
        min-height: unset !important;
    }
    .cart-details {
        width: 70%;
        font-family: 'Roboto';
    }

    .mobile-cart-add-sub {
        margin: 10px 0;
    }

    .review-mobile-cart-add-sub {

    }

    .mobile-cart-product-name {
        font-weight: 600;
    }

    .mobile-cart-price {
        font-weight: 500;
    }

    .cart-container > div > h1 {
        margin: 20px 0;
    }

    .cart-img {
        width: 40%;
        border: 1px solid #e6e6e6;
        margin: 0 10px 0 0;
        padding: 5px;
    }

    .inline-flex.cart-total {
        color: #ffc600;
        margin: auto 0;
        font-size: 15px;
    }

    .inline-flex.review-cart-total {
        color: #ffc600;
        margin: auto 0;
    }

    .cart-img > img {
        width: 100%;
    }

    /*Borders*/
    .border-transparent-right {
        border: 1px solid rgba(215, 215, 215, 1);
    }

    .border-transparent {
        border-right-color: transparent;
        padding: 12px;
        text-transform: uppercase;
        text-align: center;
        border-left-color: transparent;
    }

    #continue_shopping {
        margin-top: 10px;
        text-transform: uppercase;
        color: black;
        font-weight: 600;
    }

    .btn-group-payment {
        margin-right: auto;
        width: 100%;
        padding: 15px 0;
        float: right;
    }

    .btn-group-payment:focus {
        outline: 0;
        box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
    }

    .btn-submit-nif {
        background-color: rgba(28, 32, 34, 1);
        border: 0;
        border-radius: 7px;
        padding: 10px 18%;
        margin: 20px auto auto auto;
        color: white;
        font-weight: 400;
    }

    .btn-submit-nif:focus {
        outline: 0;
        box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
    }

    .nif-code {
        padding: 20px;
    }

    .cart-total {
        font-size: 15px;
        font-weight: 900;
        font-family: 'Roboto';
    }

    .review-cart-total {
        font-size: 19px;
        font-weight: 900;
        font-family: 'Roboto';
    }

    #proceed-to-payment-modal > .modal-dialog {
        max-width: 100% !important;
    }

    #nif-number:focus {
        outline: 0;
        box-shadow: 0 0 0 0 rgba(255, 255, 225, 0) !important;
    }

    .address-title {
        font-family: 'Roboto';
        font-size: 18px;
    }

    .max-width-50 {
        max-width: 100%;
    }

    .max-width-75 {
        max-width: 100%;
    }

    .address-info {
        background-color: #f9f9f9;
        padding: 10px;
    }

    .padding-1 {
        padding: 1px 0;
    }

    .address-title {
        margin-bottom: 20px;
    }

    .address-button {
        margin-top: 25px;
        text-align: left;
    }

    .edit-delete > span > a {
        color: black;
        font-weight: 600;
    }

    .address-container {
        width: 100%;
    }

    .arrow-left-div {
        text-align: end;
    }

    .input-round-corners {
        border-radius: 4px;
        border: 1px solid #ebebeb;
        padding: 8px;
        width: 100%;
    }

    .input-round-corners-bottom-left {
        border: 1px solid #ebebeb;
        border-bottom-left-radius: 4px;
        padding: 8px;
        width: 100%;
    }

    .input-round-corners-bottom-right {
        border: 1px solid #ebebeb;
        border-bottom-right-radius: 4px;
        padding: 8px;
        width: 100%;
    }

    .input-round-corners-top-left {
        border: 1px solid #ebebeb;
        border-top-left-radius: 4px;
        padding: 8px;
    }

    .input-round-corners-top-left-right {
        border: 1px solid #ebebeb;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 8px;
        width: 100%;
        margin-bottom: 10px;
    }

    .input-round-corners-top-right {
        border: 1px solid #ebebeb;
        border-top-right-radius: 4px;
        padding: 8px;
    }

    .payment-container {
        width: 100%;
    }

    .payment-label-head {
        margin: 10px auto;
        font-weight: 400;
        font-family: 'Roboto';
    }

    .payment-label-head-2 {
        padding: 0;
    }

    .payment-label {
        text-align: left;
        padding: 5px 15px;
        margin: 10px auto;
    }

    .yellowish {
        background-color: #ffc600;
    }

    .greenish {
        background-color: #72a850;
    }

    .mr-30 {
        margin-right: 30px;
    }

    .business-profile-tabs {
        text-align: center;
        overflow: auto;
        margin: 0 auto;
        padding: 0;
        display: inline-flex;
    }

    .choose-category-text {
        font-weight: 800;
        font-family: 'Roboto';
        width: 100%;
        font-size: 18px;
        text-align: center;
        padding: 28px;
    }

    .business-profile-tab {
        display: inline-block;
        background: transparent;
        padding: 15px;
        cursor: pointer;
        border: 1px solid #dedede;
        text-transform: uppercase;
        margin: 0 5px;
        white-space: nowrap;
        font-size: 14px;
        width: 100%;
        font-family: 'Roboto';
        font-weight: 500;
    }

    .business-profile-box {
        background: white;
        text-align: center;
    }

    .arrow-width {
        width: 40px;
    }

    .business-profile-tab.active {
        background-color: #ffc425;
        color: black;
        border: 0;
    }

    .products-text.active {
        background-color: #ffc425;
        color: black;
        border: 0;
    }

    .business-profile-tab-content {
        display: none;
    }

    .business-profile-tab-content.active {
        display: block;
        margin: 4%;
        font-family: 'Roboto';
        font-weight: 400;
    }

    .top-5 {
        margin-top: 5px;
    }

    .w-20 {
        width: 20%;
    }

    .w-10 {
        width: 10%;
    }

    /*remember me label*/
    .remember-me-label input[type="checkbox"] {
        display: none;
    }

    .remember-me-label label::before {
        content: "";
        display: inline-block;

        height: 16px;
        width: 16px;

        border: 1px solid;
    }

    .remember-me-label label::after {
        height: 16px;
        width: 16px;
        background-color: #ffc800;
    }

    .remember-me-label label {
        position: relative;
    }

    .remember-me-label label::before,
    .remember-me-label label::after {
        position: absolute;
    }

    /*Outer-box*/
    .remember-me-label label::before {
        top: 4px;
        left: -10px;
    }

    /*Checkmark*/
    .remember-me-label label::after {
        top: 4px;
        left: -10px
    }

    /*Hide the checkmark by default*/
    .remember-me-label input[type="checkbox"] + label::after {
        content: none;
    }

    /*Unhide the checkmark on the checked state*/
    .remember-me-label input[type="checkbox"]:checked + label::after {
        content: "";
    }

    /*Adding focus styles on the outer-box of the fake checkbox*/
    .remember-me-label input[type="checkbox"]:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }

    .remember-me-label input[type="checkbox"]:focus + label::before {
        outline: 0;
    }


    /*Policy checkbox*/
    .payment-label input[type="checkbox"] {
        display: none;
    }

    .payment-label label::before {
        content: "";
        display: inline-block;

        height: 16px;
        width: 16px;

        border: 1px solid;
    }

    .payment-label label::after {
        height: 16px;
        width: 16px;
        background-color: #ffc800;
    }

    .payment-label label {
        position: relative;
    }

    .payment-label label::before,
    .payment-label label::after {
        position: absolute;
    }

    /*Outer-box*/
    .payment-label label::before {
        top: 2px;
        left: -15px;
    }

    /*Checkmark*/
    .payment-label label::after {
        top: 2px;
        left: -15px
    }

    /*Hide the checkmark by default*/
    .payment-label input[type="checkbox"] + label::after {
        content: none;
    }

    /*Unhide the checkmark on the checked state*/
    .payment-label input[type="checkbox"]:checked + label::after {
        content: "";
    }

    /*Adding focus styles on the outer-box of the fake checkbox*/
    .payment-label input[type="checkbox"]:focus + label::before {
        outline: 0;
    }

    .payment-label input[type="checkbox"]:focus + label::before {
        outline: 0;
    }

    /*radio button - gender*/
    .gender-types {

    }

    .gender-types input[type="radio"] {
        display: none;
    }

    .gender-types label::before {
        content: "";
        display: inline-block;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        border: 1px solid;
    }

    .gender-types label::after {
        height: 14px;
        width: 14px;
        background-color: #ffc600;
        border-radius: 50%;
    }

    .gender-types label {
        position: relative;
    }

    .gender-types label::before,
    .gender-types label::after {
        position: absolute;
    }

    /*Outer-box*/
    .gender-types label::before {
        top: 5px;
        left: -11px;
    }

    /*Checkmark*/
    .gender-types label::after {
        top: 5px;
        left: -11px;
    }

    /*Hide the checkmark by default*/
    .gender-types input[type="radio"] + label::after {
        content: none;
    }

    /*Unhide the checkmark on the checked state*/
    .gender-types input[type="radio"]:checked + label::after {
        content: "";
    }

    /*Adding focus styles on the outer-box of the fake radio*/
    .gender-types input[type="radio"]:focus + label::before {
        outline: 0;
    }

    .gender-types input[type="radio"]:focus + label::before {
        outline: 0;
    }

    /*NIF Radio button - gender*/
    .nif-label input[type="radio"] {
        display: none;
    }

    .nif-label label::before {
        content: "";
        display: inline-block;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: 1px solid;
    }

    .nif-label label::after {
        height: 18px;
        width: 18px;
        background-color: #72a850;
        border-radius: 50%;
    }

    .nif-label label {
        position: relative;
    }

    .nif-label label::before,
    .nif-label label::after {
        position: absolute;
    }

    /*Outer-box*/
    .nif-label label::before {
        top: 4px;
        left: -10px;
    }

    /*Checkmark*/
    .nif-label label::after {
        top: 3px;
        left: -11px
    }

    /*Hide the checkmark by default*/
    .nif-label input[type="radio"] + label::after {
        content: none;
    }

    /*Unhide the checkmark on the checked state*/
    .nif-label input[type="radio"]:checked + label::after {
        content: "";
    }

    /*Adding focus styles on the outer-box of the fake radio*/
    .nif-label input[type="radio"]:focus + label::before {
        outline: 0;
    }

    .nif-label input[type="radio"]:focus + label::before {
        outline: 0;
    }

    /*------------------------------------------------------------*/
    .unit-price {
        padding: 0 4px;
    }

    .unit-price-cc {
        padding: 0 4px;
    }

    .unit-currency {
        padding: 0 4px;
    }

    .unit-currency-cc {
        padding: 0 4px;
    }

    .mb-40 {
        margin-bottom: 40px;
    }

    .shipping {
        padding-left: 26px;
    }
    span.total-header-cart {
        color: black;
        font-size: 15px;
        font-family: 'Roboto';
        font-weight: 700;
        margin: auto auto auto 5px;
    }

    .city-select {
        width: 100%;
        line-height: 38px;
        padding: 10px 0;
        font-size: 18px;
        cursor: pointer;
        color: black;
        border: 0;
        outline: none;
        border-bottom: 1px solid;
    }

}

.help-product-error {
    text-align: right;
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    .steps {
        text-align: center;
        padding: 5px 0;
    }
    .submit-container {
        margin: auto;
    }
    .form-submit {
        display: inline-flex;
        width: 100%;
        margin-top: 30px;
    }
    .inline-flex {
        display: inline-flex;
    }
    .address-button {
        margin-top: 25px;
        text-align: center;
    }
    .back-to-review{
        text-transform: uppercase;
        color: black;
        font-weight: 600;
        text-decoration: underline;
        margin-top: 30px;
        margin-left: 45px;
    }
    .payment-btns{
        display: block;
        margin: 25px auto;
    }
    .align-link-center{
        text-align: center;
    }
    .payment-option-item {
        display: block;
        border: 1px solid #eaeaea;
        padding: 10px 15px;
        background: #fcfcfc;
        width: 100%;
    }
    .payment-icons {
        width: 100%;
        padding-left: 23px;
        position: unset;
    }
    .payment-input img {
        width: 90px;
        margin: 0 10px 0 0;
    }
    .payment-icons img {
        width: 34px;
        float: unset;
        margin-left: 8px;
        padding-top: 4px;
    }
    #continue_shopping {
        margin-top: 10px;
        text-transform: uppercase;
        color: black;
        font-weight: 600;
    }
    .circle-arrow {
        margin: auto 0;
        width: 100%;
        text-align: center;
        display: grid;
        padding: 25px;
    }
    .btn-submit-yellow {
        font-family: 'Roboto';
        background-color: #ffc600;
        color: black;
        border: 2px solid #ffc600;
        border-radius: 2px;
        padding: 10px 80px;
        font-weight: 600;
        display: inline-flex;
    }

    .btn-submit-list {
        font-family: 'Roboto';
        background-color: white;
        color: black;
        margin-bottom: 1rem;
        border: 2px solid #000000;
        border-radius: 2px;
        margin-right: 0;
        padding: 10px;
        font-weight: 500;
    }

    .inline-flex.cart-total {
        color: #ffc600;
        margin: auto 0;
        font-size: 15px;
    }

    .btn-submit-green-list {
        font-family: 'Roboto';
        background-color: white;
        color: #72a850;
        border: 2px solid #72a850;
        border-radius: 2px;
        padding: 8px;
        font-weight: 600;
        margin: 10px 0 0 0;
        margin-left: 0 !important;
    }

    .product-error {
        display: none;
        padding: 0;
        font-family: 'Roboto';
        font-weight: 400;
    }

    .help-product-error {
        text-align: center;
        padding-bottom: 0;
        margin: 0 25px 10% 25px;
    }

    .total-text {
        font-family: 'Roboto';
        font-weight: 600;
        color: white;
        text-transform: uppercase;
    }

    .review-total-text {
        font-family: 'Roboto';
        font-weight: 600;
        color: white;
        font-size: 15px;
        text-align: left;
        text-transform: uppercase;
    }

    span#cus-name {
        font-size: 10px;
    }

    .body-container {
        display: inline-block;
        margin: 25px 0;
    }

    .footer-list {
        list-style: none;
        padding-inline-start: 0;
        text-align: center;
    }

    .social-media {
        width: 100%;
        text-align: center;
        padding: 25px 0;
    }

    .share-product {
        text-align: right;
        cursor: pointer;
    }

    .side-menu-cat {
        width: 100%;
        text-align: left;
        border-bottom: 0.8px solid #e6e6e6;
        border-left: 0.8px solid #e6e6e6;
        border-right: 0.8px solid #e6e6e6;
    }

    .share-product > a {
        color: black !important;
        text-decoration: none !important;
    }

    .fa-shopping-cart:before {
        content: "\f07a"
    }


    .packs-items {
        padding: 0 20px;
    }

    .mb-40 {
        margin-bottom: 40px;
    }

    button.products-text.w-100:focus {
        /* border: 1px solid rgba(210, 210, 210, 1); */
        outline: 0;
    }
    .btns-cart-cont{
        min-height: 200px !important;
    }
}

#card_number {
    background-image: url(http://jquerycreditcardvalidator.com/images/images.png), url(http://jquerycreditcardvalidator.com/images/images.png);
    background-position: 2px -121px, 260px -61px;
    background-size: 120px 364px, 120px 361px;
    background-repeat: no-repeat;
    padding-left: 54px;
    width: 300px;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#card_number.visa {
    background-position: 2px -163px, 260px -61px;
}

#card_number.visa_electron {
    background-position: 2px -205px, 260px -61px;
}

#card_number.mastercard {
    background-position: 2px -247px, 260px -61px;
}

#card_number.maestro {
    background-position: 2px -289px, 260px -61px;
}

#card_number.discover {
    background-position: 2px -331px, 260px -61px;
}

#card_number.valid.visa {
    background-position: 2px -163px, 260px -87px;
}

#card_number.valid.visa_electron {
    background-position: 2px -205px, 260px -87px;
}

#card_number.valid.mastercard {
    background-position: 2px -247px, 260px -87px;
}

#card_number.valid.maestro {
    background-position: 2px -289px, 260px -87px;
}

#card_number.valid.discover {
    background-position: 2px -331px, 260px -87px;
}
.search-box {
    width: 100%;
    border: 0;
}
.col-md-12 {
    float: unset;
}
@media (max-width: 800px) {

    .share-distributor-btns {
        display: inline-block;
        position: absolute;
        top: 50px;
        right: 13px;
    }
    .share-payment-btns {
        display: inline-block;
    }
    .share-distributor-btn {
        margin: 20px 10px;
        cursor: pointer;
    }
}
