@font-face {
    font-family: 'hn';
    src: url('../../fonts/Helveticaneue.ttf') format('truetype'),
    url('../../fonts/Helveticaneue.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'hnl';
    src: url('../../fonts/HelveticaNeueLight.ttf') format('truetype'),
    url('../../fonts/HelveticaNeueLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'hnb';
    src: url('../../fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('../../fonts/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'hnm';
    src: url('../../fonts/HelveticaNeue-Medium.otf') format('truetype'),
    url('../../fonts/HelveticaNeue-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    background-color: #FFFFFF;
}
#app{
    height: -webkit-fill-available;
}
a:hover, a:focus, a:active{
    background-color: unset;
    text-decoration: none;
    color:currentColor;
    z-index: unset;
    outline: none;
    border-radius: 0;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #43d2e8;
    text-decoration: none;
    color: #f8fcff;
    border-color: #f5f5f5;
    z-index: unset;
    outline: none;
    border-radius: 0;
}
.list-group-item.active{
    /*background-color: unset;*/
    /*text-decoration: none;*/
    /*color: #43d2e8;*/
    /*border: unset;*/
    /*z-index: unset;*/
    /*outline: none;*/
    /*border-radius: 0;*/
    /*font-family: 'hnl' !important;*/
    color: #43d2e8;
    background-color: #f8fcff;
    border-color: #f5f5f5;
    font-family: 'hn';
}

#main-view{
    background-color: #fafafa;
}
#main-form{
    background: white;
    margin: 21px 25px 40px 25px;
    padding-top: 15px;
    border: 1px solid #f3f3f3;
}
#main-form .tab{
    margin-top: -15px;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    background-color: unset;
    text-decoration: none;
    color: #3eb0ef;
}
.navbar-laravel{
    background-color: white;
}
input.role-checkbox{
    margin: 0 20px 0 20px;
}
input.role-parent-module-checkbox{
    margin: 0 10px 0 10px;
}
.contact-phone-select{
    display: flex;
    position: relative;
}
.contact-phone-select:not(:first-child){
    margin-top: 10px;
}
.add-name-contant{
    margin-top: 15px;
    display: inline-flex;
    cursor: pointer;
}
.add-name-contant .black{
    color: black;
    padding-top: 5px;
    margin-left: 10px;
    font-size: 16px;
    font-family: 'hn';
}
#delete-name{
    position: absolute;
    top: 6px;
    right: 5px;
    height: 22px;
    width: 22px;
    line-height: 20px;
    cursor: pointer;
}
.tab-table{
    padding: 0 !important;
}
.tab-table .col-sm-12{
    padding: 0;
}
.full-menu-title {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
    font-family: 'hn';
}
.full-menu-title span {
    text-align: center;
    font-weight:700;
}

.full-menu-box {
    text-align: center;
    border: 2px solid #f4f6f8;
    min-height: 290px;
    margin-bottom: 30px;
    background-color: white;
}
.font-hnb{
    font-family: 'hnb';
}
.full-menu-box-title a, .full-menu-box-title a:hover, .full-menu-box-title a:active{
    font-size: 15px;
    margin: 10px 6px;
    margin-bottom: 20px;
    min-height: 42px;
    font-family: 'hnm';
    text-transform: capitalize;
    color: #505050;
}

.full-menu-box-image img {
    width: 112px;
    height: auto;
    margin: 55px 0 40px 0;
}
a.full-menu-box-button-blue {
    text-decoration: none;
    background-color: #43d2e8;
    color: white;
    font-size: 15px;
    padding: 11px 55px;
    border-radius: 30px;
    font-family: 'hnm';
}
a.full-menu-box-button-orange {
    text-decoration: none;
    background-color: #f86131;
    color: white;
    font-size: 15px;
    padding: 11px 55px;
    border-radius: 30px;
    font-family: 'hnm';
}
.full-menu-box-link-box {
    position: relative;
    margin-top: 45px;
}

.full-menu-box-image {
    /* height: 115px; */
}

.tab-header {
    /* border-bottom: 1px solid #000; */
}

.tab-header-menu-image {
    width: 40px;
    height: 40px;
}
.row.tab-header-menu {
    background-color: #4fb6f0;
}

.tab-header-menu-item {
    text-align: center;
    display: block;
    vertical-align:middle;
    cursor: pointer;
    /* height: 75px; */
    padding: 7px 0;
}
.tab-header-menu-item:not(:last-child){
    border-right: 1px solid #4ebfff;
}

.tab-header-menu-title {
    text-align: center;
    margin: auto 5px;
    font-size: 15px;
    font-family: 'hnm';
    text-transform: capitalize;
    color: white;
}
.tab-header-menu-title.active {
    background-color: #43d2e8;
}
.tab-header-menu-item.active {
    background-color: #43d2e8;
}
.tab-header-title {
    text-align: left;
    font-size: 32px;
    margin: 30px 25px 5px 25px;
    width: 100%;
    font-family: 'hn';
}
.no-cursor{
    cursor: initial;
}
.tab-header-segment {
    text-align: left;
    font-size: 14px;
    margin: 0px 25px 20px 25px;
    width: 100%;
    color: #3eb0ef;
    font-family: 'hn';
}
.tab-header-segment a, .tab-header-segment a:hover, .tab-header-segment a:active{
    color: #3eb0ef;
}
.tab-header-menu-image-box {
    padding-right: 0;
}
.role-dropdown-toggle span{
    cursor: pointer;
}
.role-dropdown-toggle i{
    margin-left: 15px;
}
.tab-header-title-box {
    padding: 0;
    margin: 0;
}

.tab-header-menu {
    /* padding: 20px 0; */
    margin: 0;
    border-bottom: 1px solid #f5f5f5;
}

.mini-submenu{
    display:none;
    border-radius: 0;
    color: #43d2e8;
    padding: 0px;
    z-index: 5;
    text-align: center;
    position: absolute;
    width: 30px;
    height: 45px;
    font-size: 30px;
    top: 0;
}
.list-group-item.main-title img{
    width:31px;
    height:auto;
}
.mini-submenu:hover{
    cursor: pointer;
}

.mini-submenu .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    margin-top: 3px;
}

.mini-submenu .icon-bar {
    background-color: #fff;
}

#slide-submenu{
    display:inline-block;
    /* background-color: #43d2e8; */
    border-radius: 0;
    color: #43d2e8;
    padding: 0px;
    z-index: 5;
    text-align: center;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 45px;
    font-size: 30px;
    /* top: -45px; */
    right: 2px;
}
.list-group-item{
    background: white;
    color: black;
    border: 1px solid #efefef;
    border-right: 0;
    font-size: 14px;
    border-radius: 0;
    padding: 14px 15px;
}
.list-group-item .title{
    background: white;
    color: black;
    font-size: 14px;
    padding-right: 0;
    padding-top: 4px;
    padding-left: 8px;
    font-family: 'hnm';
    line-height: 31px;
    text-transform: capitalize;
}

.list-group-item:hover{
    background-color: white;
    color: #43d2e8;
    /*border: 1px solid #efefef !important;*/
    border-right: 0;
}

a.list-group-item{
    border-radius: 0!important;
    padding-left: 55px;
    font-family: 'hnl';
    margin-bottom: -1px!important;
}
.add-btn {
    display: inline-flex;
    padding: 13px 15px;
    cursor: pointer;
}


.add-btn-plus {
    background-color: #f46346;
    font-size: 18px;
    color: white;
    width: 32px;
    padding: 0px;
    height: 32px;
    text-align: center;
    border-radius: 30px;
    font-family: 'hn';
    line-height: 28px;
}

.add-btn-title {
    text-align: center;
    margin: auto 5px;
    color: #f46346;
    font-size: 15px;
    font-family: 'hnm';
}
.role-table{
    width: 100%;
    border: 1px solid #e2e2e2;
    margin-bottom: 15px;
}

.role-permission-label {
    font-size: 11px;
}

.role-table tr:nth-child(odd){
    background-color:#F8F8F8;
}
.role-table tr:nth-child(even){
    background-color:white;
}

.role-table th{
    background-color: #43d2e8;
    color: #fff;
    border-bottom: 0 !important;
    font-size: 15px;
    padding: 10px;
    /* text-align: center; */
    font-weight: 100!important;
    font-family: 'hn';
}
.role-table td{
    color: black;
    padding: 8px 0;
    padding-left: 10px;
    text-align: left;
    vertical-align: middle;
    font-size: 15px;
    font-family: 'hnm';
}
.ajax-table th{
    background-color: #43d2e8;
    color: #fff;
    border-bottom: 0 !important;
    font-size: 15px;
    text-align: center;
    font-weight: 100!important;
    font-family: 'hn';
}
.ajax-table td{
    color: #454e5c;
    text-align: center;
    font-size: 15px;
    font-family: 'hnm';
}
.table-functions {
    font-size: 15px;
    padding-right: 3px;
    color: #43d2e8;
}
.dataTables_wrapper{
    width: 100%;
    display: block;
}
a.record-order-up,a.record-order-down,a.record-show,a.record-edit,a.record-delete  {
    text-decoration: none;
}
table.dataTable thead .sorting_desc{
    background-image: none !important;
}
table.dataTable thead .sorting_asc{
    background-image: none !important;
}

.form-header-title {
    font-size: 24px;
    margin: 10px 0;
    font-weight: 900;
    color: #f46346;
}
input.form-control {
    font-size: 15px;
    font-family: 'hn';
    padding: 5px;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    cursor: text;
}

.form-btn-actions {
    display: inline-flex;
}
label.control-label.error {
    color: #f46346;
    padding-left: 10px;
}
.remember-password{
    margin: 4px -13px 0 !important;
    line-height: normal;
}
.nav-logo{
    padding-left: 3em;
}
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}
span.plus {
    margin-left: -13px!important;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}
.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* Style the tab */
.tab {
    overflow: hidden;
    border-bottom: 1px solid #efefef;
    background-color: white;
}

/* Style the buttons inside the tab */
.tab div {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    border: 1px solid #9090900d;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.3s;
    margin: 0;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab div:hover {
    /*background-color: #efefef;*/
}

/* Create an active/current tablink class */
.tab div.active {
    background-color: white;
    color: #3eb0ef;
    border-bottom: 1px solid;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 50px 12px 10px 12px;
    border-top: none;
}
.list-group-item-dropdown{
    display: none;
    padding: 10px 0;
    padding-left: 70px;
    margin: 0;
    border-right: 0;
}
.list-group-item-dropdown li{
    list-style: none;
    padding: 10px 0;
    font-family: 'hnl';
}
.list-group-item-dropdown li a{
    font-size: 14px;
    color:black;
    text-decoration: none;
    font-family: 'hnl';
}
.list-group-item.active{
    color: #fbfbfb;
    background-color: #43d2e8;
    border-color:#f5f5f5;
    font-family: 'hn';
}
.list-group-item.active + .list-group-item-dropdown{
    display: block;
}
.list-group-item-dropdown li a.active{
    color: #3eb0ef;
    font-family: 'hn';
}
[id*='list-']{
    display: none;
}
.sidebar{
    padding: 0;
    margin: 0;
    z-index: 5;
    min-height: 0;
    border-right: 1px solid #efefef;
    background: white;
    height: -webkit-fill-available;
}
.user-header img, .user-header a{
    display: inline-block;
}
.user-header img{
    width: 50px;
    border-radius: 50%;
}
.side-menu-user{
    padding: 50px 0 50px 23px;
    /* text-align: center; */
}
.side-menu-user img, .side-menu-user a{
    display: inline-block;
}
.side-menu-user a{
    color: black;
    padding-left: 10px;
    font-size: 14px;
    font-family: 'hnm';
}
.side-menu-user a:hover, .side-menu-user a:active{
    color: #43d2e8;
}
.side-menu-user img{
    width: 70px;
    border-radius: 50%;
    border: 3px solid #3fafef;
}
.navbar-expand-md>.container{
    width:100%;
    max-width: unset;
}
.article-action-buttons{
    /* margin-left: 35px; */
    padding-left: 43px;
}
span.star-required {
    color: #f46346;
    font-size: 15px;
}
span.size-required{
    color: #f46346;
}
.article-photo{
    border: 1px solid #aaa;
    width: 100%;
    position: relative;
    border-radius: 3px;
    height: 34px;
}
#hide input[type=file] {
    display:none;
    margin:10px;
}
#hide input[type=file] + label {
    display:inline-block;
    margin:20px;
    padding: 4px 32px;
    background-color: #FFFFFF;
    border:solid 1px #666F77;
    border-radius: 6px;
    color:#666F77;
}
#hide input[type=file]:active + label {
    background-image: none;
    background-color:#2D6C7A;
    color:#FFFFFF;
}
label.browse-photo {
    background-color: #43d2e8;
    padding: 6px 20px;
    height: 100%;
    position: absolute;
    color: white;
}
.select2-container--default .select2-selection--multiple{
    border-radius: 0px;
}
.select2-container--default .select2-selection--single {
    border-radius: 0px;
}
.select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple{
    border-radius: 0;
    border-color: #e2e2e2;
}
.form-control.select2{
    border-radius: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height:32px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height:32px;
}
.select2-container .select2-selection--single, .select2-container .select2-selection--multiple{
    height:34px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.user-image{
    border-radius: 50%;
    max-width: 150px;
    max-height:150px;
    position: relative;
    border: 1px solid #fafafa;
}
.user-img-list{
    border-radius: 50%;
    width: 41px;
    height: 41px;
}
.display-flex{
    display: flex;
}
.add-btn-profile{
    margin: auto 0;
}
.tab-content-profile{
    display: none;
    padding: 20px 0 10px 0;
}

.image-thumb, .image-thumb img, .gallery-images {
    position:relative;
    height: auto;
    margin-bottom: 10px;
}
.image-thumb img{
    width: 200px;
    border: 1px solid #fafafa;
}
.gallery-image{
    margin: 5px;
    width: 150px;
    height: 150px;
}
.gallery-image:hover .image-fav {
    display: block;
    width: 100%;
    height: 100%;
}
#gallery-inputs, .gallery-images{
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.gallery-image, .gallery-image img {
    position:relative;
    margin-bottom: 10px;
}
.gallery-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #fafafa;
}
.image-thumb.cover-image img, .image-thumb.cover-image{
    width: 300px;
}
.image-thumb.logo-image img, .image-thumb.logo-image{
    width: 150px;
}
.gallery-item{
    position: relative;
    margin: 10px 0;
}
.navbar-brand>img{
    display: block;
    width: 85px;
    margin-top: -13px;
}
.navbar-brand{
    padding: 0;
}
.image-favicon, .image-favicon img {
    position:relative;
    margin-bottom: 10px;
}
.image-favicon img{
    border: 1px solid #fafafa;
    padding: 5px;
}
.image-fav {
    display:none;
    position:absolute;
    top:0;
    left: 0;
}
.image-fav-user {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.image-thumb-user:hover .image-fav-user{
    display: block;
}
.image-thumb-user{
    position: relative;
    display: inline-flex;
}
.image-thumb, .image-thumb img .image-thumb:hover .image-fav {
    display:block;
    top: 0;
}
.image-thumb:hover .image-fav, .image-favicon:hover .image-fav {
    display: block!important;
}
.mce-tinymce{
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
}
.delete-gallery-img{
    width: 100%;
    height:100%;
}
.delete-gallery-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-images{
    display: inline-flex;
}
.image-box{
    border: 1px solid #e2e2e2;
    height: 40px;
    display: flex;
}
.image-box a {
    color: white;
    background-color: #43d2e8;
    width: 20%;
    font-size: 13px;
    font-weight: 100;
    text-align: center;
    padding: 11px 0;
    font-family: 'hnl';
}
.image-box input{
    padding-left: 15px;
    border: 0;
    width: 80%;
}
.x-delete{
    left: 5px;
}
.add-btn-plus.popup_selector, .add-btn-plus.popup_selector:hover, .add-btn-plus.popup_selector:active{
    background-color: #f46346;
    font-size: 23px;
    color: white!important;
    width: 32px;
    padding: 0px;
    height: 32px;
    text-align: center;
    border-radius: 30px;
    font-family: 'hn';
}
.full-menu-box-image.language{
    height: 215px;
    padding: 55px 0;
    font-family: 'hnm';
}
.full-menu-box-button-blue.language-btn{
    padding: 10px 65px;
}
.full-menu-box.language-box{
    border-radius: 5px;
    min-height: 330px;
}
.full-menu-box.language-box.active{
    background: #f8fcff;
    border: 2px solid #f4f6f8;
    position: relative;
}
.active-check{
    display: none;
}
.full-menu-box.language-box.active > .active-check{
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    color: #f46346;
    border: 1px solid #43d2e8;
    padding: 1px 4px;
    background: white;
}
.header-logout{
    display: -webkit-inline-box;
    margin-left: 30px;
}
.header-search{
    display: -webkit-inline-box;
    margin-right: 30px;
}
.header-logout img, .header-search img{
    width: 30px;
    margin:auto 0;
}
.header-logout img{
    cursor: pointer;
}
.navbar{
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 8;
    height: 62px;
}
.row{
    margin: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    position: relative;
    border-top-right-radius: 0;
}
.display-flex{
    display: flex;
}
#table_wrapper [class*="col-"]{
    padding: 0;
}
.modal-head-orange{
    height: 25px;
    background-color: #f46346;
    width: 100%;
}
.delete-modal-body{
    text-align: center;
}
#deleteModal .modal-dialog, #deleteModalFail .modal-dialog{
    margin: 10% auto;
}
.delete-modal-body img{
    max-width: 45px;
    margin: 15px auto;
}
.delete-modal-body h4{
    margin-bottom: 20px;
}
#deleteModal .modal-content, #deleteModalFail .modal-content{
    border: 0;
    border-radius: 0;
}
.modal-btns button{
    width: 30%;
    border: 2px solid #e3e3e3;
    background: #f7f7f7;
    border-radius: 0;
}
.modal-btns{
    margin-bottom: 30px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active{
    border: 1px solid transparent!important;
    background: 0!important;
}
table.dataTable{
    margin-top: 0!important;
}
table.dataTable thead th, table.dataTable thead td{
    padding: 17px 18px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    bottom: 15px;
}
table.dataTable.no-footer{
    border-color: #f7f1f1!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:focus{
    outline: none;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #43d2e8!important;
    border-color: #43d2e8!important;
}
.form-group-profile{
    margin: 0 0 20px 0;
}
.form-group-profile .col-md-2{
    padding: 0;
}
/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{*/
/*vertical-align: middle;*/
/*}*/
.ajax-table th, .ajax-table td{
    text-align: left!important;
}
.list-group-item.main-title{
    padding: 21px 15px;
}
.select2-filter{
    margin-left: 10px;
    width: 220px;
}
.select2-filter .select2-selection{
    margin: 11px 0;
}
.select2-filter .select2-selection__arrow{
    top: 15px!important;
}
.select2-filter .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default.select2-container--focus .select2-selection--multiple{
    border-color: #efefef!important;
}
.select2-filter .select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #becadf transparent transparent transparent;
}
.select2-container .select2-selection--multiple{
    height:34px;
}
.select2-filter .select2-selection--single{
    height: 40px;
}
.select2-filter .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px;
}
.select2-filter .select2-container--default .select2-selection--single .select2-selection__arrow{
    line-height: 35px;
}
.home-box{
    padding: 0 5px;
}
.select2-filter .select2-selection--single, .select2-container .select2-selection--multiple{
    box-shadow: none;
}
.select2-selection__rendered{
    color: #909090;
}
table.dataTable tbody td{
    font-size: 14px;
    color: #212121;
    font-family: 'hn';
    padding-left: 30px!important;
}
.select2-filter .select2-selection__rendered{
    color: #212121!important;
}
.select2-filter .select2-container--open .select2-dropdown{
    margin-top: -11px!important;
}
table.dataTable thead .sorting{
    background-image: none!important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after, table.dataTable thead .sorting:after, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
    opacity: 1!important;
}
.img-administration{
    width: 200px;
    margin: 90px auto;
}
label.control-label{
    font-family: 'hnm';
    font-weight: 100;
    font-size: 14px;
}
.inputfile-6 + label strong{
    font-weight: 100;
    font-family: 'hnm';
    font-size:14px;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.login-blog,.login-join {
    display: inline-flex;
    /*padding-bottom: 15px;*/
    /*padding-right: 10%;*/
}

.login-blog-text,.login-join-text {
    margin: auto 0;
    margin-bottom: 0;
    font-family: 'hnl';
    font-size: 36px;
    padding-left: 0;
}
.support-box {
    text-align: left;
    padding-top: 5%;
    padding-left: 18%;
}
.login-cms-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 1px solid #e3e3e3;
}
.login-cms-form {
    text-align: center;
    width: 90%;
    padding-top: 13%;
}

.login-cms-title {
    font-family: 'hnm';
    font-size: 25px;
    /* text-align: left; */
}

.login-cms-email input, .login-cms-password input{
    border: 1px solid #e3e3e3;
    background: transparent;
    width: 80%;
    /* margin: 0 auto; */
    padding-left: 7%;
    margin: 20px auto;
}
.login-cms-email > span.login-error, .login-cms-password > span.login-error{

    width: 80% !important;
    text-align: left !important;
    margin: -10px auto !important;
    color: #e3342f;
    display: block;
}
img.login-cms-icon {
    width: 25px;
    height: 35px;
    position: absolute;
    left: 17%;
}
.login-cms-submit{
    border: 0;
    color: white;
    background-color: #f46346;
    font-size: 16px;
    font-family: initial;
    padding: 10px 0px;
    margin: auto 5px;
    width: 205px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'hn';
}
.login-cms-submit:hover{
    border: 0;
    color: white;
    background-color: #f46346;
    font-size: 16px;
    font-family: initial;
    padding: 10px 0px;
    margin: auto 5px;
    width: 205px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'hn';
}
.login-cms-submit-box {
    display: flex;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    width: 80%;
}

label.form-check-label {
    font-family: 'hnl';
    font-size: 14px;
    color: #585858;
    padding-left: 20px;
}

.login-cms-remember-me {
    margin: auto 0;
    margin-left: 20px;
}
.login-cms-forgot {
    text-align: left;
    padding: 20px 0;
    width: 80%;
    color: #f46346;
    margin: 0 auto;
}
.login-cms-forgot a{
    color: #f46346;
    text-decoration:underline;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}


.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0.5em 0 !important;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    box-shadow: inset 0 0px 0px rgba(0,0,0,0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
table.dataTable tbody tr.even {background-color: #fbfbfb;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #f7f1f1;
}

.pb-4, .py-4 {
    padding-bottom: 0 !important;
}
.py-4{
    background-color: #fafafa;
    height: -webkit-fill-available;
}
.form-group-show{
    display: flex;
}
.form-group-show label {
    margin-right: 15px;
}
.list-group-item.main-title:nth-child(1){
    border-top:0;
}
.date-box{
    display: flex;
}
.date-icon-box {
    color: #737373;
    vertical-align:middle;
    border: 1px solid #e2e2e2;
    height: 34px;
    border-right: 0;
}
.date-icon-box > span {
    margin:auto 0;
    padding:10px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 0;
    left: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 0;
    padding-left: 30px;
}
.tab-content .container{
    width: 99%;
    max-width: 99%;
}


footer.login-footer {
    border-top: 1px solid #e6ecf0;
    padding: 11px 0;
    position: fixed;
    background-color: #fff;
    bottom: 0%;
    width: 100%;
    z-index: 2;
    display:inline-flex;
}

ul.login-footer-list {
    background: #fff;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    list-style: none;
    margin-bottom: 0;
}

a.footer-link {
    display: inline-block;
    padding: 0 9px 0 9px;
    color: #959595;
    font-size: 12px;
}
.cursor-pointer{
    cursor: pointer;
}
.table-subdomain, .table-subdomain a, .table-subdomain a:hover, .table-subdomain a:active{
    color: #f86131;;
}
.p-subdomain{
    margin-bottom: 0;
    padding-right: 90px;
}
.p-subdomain-add{
    margin-bottom: 0;
    margin-top: 5px;
}
.p-subdomain-add a{
    text-decoration: underline;
}
.sub-link, .sub-link:hover, .sub-link:active{
    color: black;
}
.role-table .fa-check{
    color: rgb(0, 255, 0);
}
.role-table .fa-close{
    color: rgb(253, 54, 54);
}
.language-flag{
    max-width: 120px;
}
.form-submit-btn {
    border: 0;
    color: white;
    background-color: #3eb0ef;
    font-size: 16px;
    font-family: initial;
    padding: 10px 0px;
    margin: auto 5px;
    width: 190px;
    height: 42px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'hn';
}
.tab-header-title.middle{
    text-align: center;
}
.bottom-btns{
    padding: 30px 0 20px 0;
    border-top: 1px solid #e2e2e2;
}
.country-header{
    display: -webkit-box;
    padding-top: 10px;
    padding-right: 20px;
}
.country-header-image{
    width: 25px;
}
.config-title{
    font-size: 25px;
    margin-bottom: 20px;
}
.file {
  position: relative;
  cursor: pointer;
  height: 150px;
  width: 150px;
  border: 1px solid #eaeaea;
  text-align: center;
  vertical-align: middle;
  margin: 5px;
}
.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  display: none;
}
.file img{
    max-width: 55%;
    margin-top: 15px;
}
.file-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0,0,0,.05);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.file-custom:after {
  content: "Choose file...";
}
.file-custom:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0;
}
.file p{font-size: 16px;}
/* Focus */
.file input:focus ~ .file-custom {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}
.timing-tabs{}
.full-tab{
    margin-bottom: 25px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}
.full-tab-head{
    padding: 15px;
    position: relative;
    background: #e7e7e7;
    cursor: pointer;
}
.full-tab-title{
    font-size: 17px;
}
.full-tab-arrow{
    position: absolute;
    right: 15px;
    top: 15px;
}
.full-tab-content{
    padding: 15px;
    display: none;
}
.add-name-content{}
@media (min-width: 768px){
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: -2px;
    }
}
@media (max-width: 1024px) {
    .login-blog-text, .login-join-text{
        font-size: 20px;
    }

}

/* Remove default bullets */
ul, #referenceUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#referenceUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.reference-caret {
    /* cursor: pointer; */
    user-select: none; /* Prevent text selection */
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 10px;
}

/* Create the caret/arrow with a unicode, and style it */
.reference-caret img{
    width: 100%;
    height: 100%;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.reference-caret-down{

}

/* Hide the nested list */
.reference-nested {
    display: none;
    margin-bottom: 25px;
}
.reference-nested.nested-active {
    display: block;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.reference-active {
    /* display: block; */
}
#timing-div{
    padding: 0 15px;
}
.slider.slider-horizontal .slider-tick-label-container .slider-tick-label:nth-child(even){
    margin-top: 25px;
}
.slider.slider-horizontal .slider-tick-label-container{
    display: flex;
}
.time-item{
    margin-top: 20px;
    position: relative;
    display: flex;
}
.time-item > i{
    position: absolute;
    top: 11px;
    z-index: 10;
    cursor: pointer;
    right: 0;
}
.slider.slider-horizontal{
    width: 100%!important;
}
.input-time{
    width: 45%;
    display: flex;
    border: 1px solid #e7e7e7;
    height: 40px;
    border-radius: 5px;
}
.input-time label{
    padding: 9px 0;
    margin: 0;
    height: 100%;
    vertical-align: middle;
    background: #e7e7e7;
    width: 25%;
    text-align: center;
}
.input-time input{
    height: 100%;
    border: 0;
    width: 75%;
    padding-left: 15px;
    border-radius: 0 5px 5px 0;
}
.add-time-btn{
}
.start-time{
    margin-right: 25px;
}
.end-time{}
.full-tab-closed{
    float: right;
    margin-right: 25px;
    color: #e23b3b;
    font-size: 16px;
    font-family: 'hnm';
}
.full-tab-open{
    /* float: right; */
    margin-right: 25px;
    color: #949494;
    font-size: 16px;
    font-family: 'hnm';
}
.full-tab-time{
    display: inline-flex;
    float: right;
}
.reference-tab{
    padding: 10px 15px;
    background: #e7e7e7;
    vertical-align: middle;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'hn';
    width: 100%;
    display: block;
    cursor: pointer;
}
.reference-tab.reference-active{
    background: orange;
}
.reference-sub-category{
    margin-top: 25px;
}
.reference-sub-category-title{
    font-size: 16px;
    text-decoration: underline;
    font-family: 'hnm';
}
.reference-sub-category > ul{
    padding: 0;
    margin-bottom: 25px;
    margin-top: 15px;
}
.reference-sub-category > ul li{
    margin-right: 20px;
    display: inline-block;
    margin-bottom: 10px;
}
.li-inline{
    /* display: inline-table; */
    margin-right: 25px;
    margin-bottom: 25px;
}
.sub-reference-title{
    font-size: 15px;
    text-decoration: underline;
    margin-bottom: 15px;
    font-family: hnm;
}
.reference-sub-list{
    padding: 0;
}
.reference-sub-list > li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}
.reference-tab-toggle{
    float: right;
    font-weight: 100;
    vertical-align: middle;
    margin-top: 4px;
}
.body-header-container{
    max-width: unset;
    width: 90%;
}
.event-prices-div #delete-name{
    right: -30px;
}
label.label-lg{
    font-size: 17px;
    margin-bottom: 15px;
}
.event-day-timings{
    display: none;
}
.event-week-timings{
    display: none;
}
.event-date{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.event-date .form-group{
    width: 45%;
}
.event-time{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.event-time .form-group{
    width: 45%;
    display: inline-block;
}
.event-date-item{
    position: relative;
}
.close-event-date{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.travel-icon-image{
    width: 80px;
    height: 80px;
}
.travel-icon-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.travel-icon-image .image-fav{
    height: 100%;
}
